
body{

}

.coupon{
    border: 5px dotted #bbb;
    width:80%;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
}

.container{
    padding: 2px 16px;
    background-color:#f1f1f1;
}

.promo{
    background:#ccc;
    padding:3px;
}

.expire{
    color:red;
}

.coupon1{
    border: 5px dotted #bbb;
    width:80%;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    background-color:white;
}

.coupon2{
    border: 5px dotted #bbb;
    width:80%;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
}

.icon-bar{
    width:105%;
    background-color:#a8e6cf;
    overflow:auto;
    display:flex;
}

.icon-bar a{
    float:left;
    text-align:center;
    width:25%;
    font-size:30px;
    padding:12px 0;
    transition:all 0.3s ease;
    color:#ffaaa5;
    display:flex;
    justify-content: center;
}

.icon-bar a:hover{
    background-color:#ffd3b6;
}

.active{
    background-color:#dcedc1;
}

